#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };

    servo: servo {
        compatible = "pwm-servo";
        /* SG90 micro servo, empirically calibrated (datasheet range: ~500-2400us) */
        pwms = <&ledc0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(500)>;
        max-pulse = <PWM_USEC(2400)>;
    };

    aliases {
		stepper-driver = &tmc2209;
		stepper-ctrl = &step_dir_motion_control;
	};

	tmc2209: stepper-driver {
		compatible = "adi,tmc2209";
		en-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		m0-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		m1-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		micro-step-res = <32>;
	};

	step_dir_motion_control: motion-controller {
		compatible = "zephyr,gpio-step-dir-stepper-ctrl";
		step-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		dir-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		invert-direction;
		stepper-driver = <&tmc2209>;
	};
};

&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO2>;
            output-enable;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@0 {
        reg = <0x0>;
        timer = <0>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
            compatible = "zephyr,cdc-acm-uart";
    };
};